.avatar {
  &_c1 {
    background: linear-gradient(135deg, #64b5f6, #42a5f5);
  }
  &_c2 {
    background: linear-gradient(135deg, #f06292, #ec407a);
  }
  &_c3 {
    background: linear-gradient(135deg, #81c784, #66bb6a);
  }
  &_c4 {
    background: linear-gradient(135deg, #ba68c8, #ab47bc);
  }
}
