// 有点灰色的背景。
$background-gray: #f2f2f2;
$background-gray2: #f7f8fa;
$background-gray-button: #e5e6eb;
$background-red: #ff5733;
$background-red2: rgba(252, 90, 174, 0.75);
$background-blue: #2a82e4;
$background-blue2: #1ed2e0;
$background-cyan: #d4fcff;
$background-orange: #fef5dd;
$background-yellow: #fbc316;
$background-green: #00b42a;
$background-mask: rgba(0, 0, 0, 0.4);
$background-mask3: rgba(0, 0, 0, 0.3);
$background-mask2: rgba(0, 0, 0, 0.2);
$background-mask1: rgba(0, 0, 0, 0.1);
$background-mask-white2: rgba(255, 255, 255, 0.2);

$transparent: rgba(255, 255, 255, 0);

$foreground-red: #f53f3f;
// 文字、按钮不可用的一种。
$foreground-gray: #86909c;
$foreground-dark: #585858;
$foreground-darker: #1d2129;
$foreground-yellow: #fee504;
$foreground-orange: #bf6900;

$border: #e5e6eb;
$border2: #d9d9d9;

$shadow-gray: rgba(201, 201, 201, 0.5);
$shadow-dark: rgba(0, 0, 0, 0.25);
$background-gradient: linear-gradient(141.36deg, #fc60c6 0%, #fc4c69 100%);
